// Mixins acá
.btn{
    display: block;
    width: max-content;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.3rem;
}

.btn-color(@fondo; @text-color){
    .btn();
    background-color: @fondo;
    color: @text-color
}
